body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #74b9ff, #0984e3);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Container principal */
.game-container {
  background-color: white;
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  width: 450px;
  text-align: center;
}

/* Flexbox pour le header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.info {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Grid pour le plateau */
.game-board {
  display: grid;
  grid-template-columns: repeat(4, 90px);
  gap: 10px;
  justify-content: center;
}

/* Style des cartes */
.card {
  width: 90px;
  height: 90px;
  background-color: #74b9ff;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.card:hover {
  transform: scale(1.05);
  background-color: #0984e3;
}

button.restart {
  background-color: #0984e3;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.restart:hover {
  background-color: #74b9ff;
}
